.container{
    /* margin: 0 auto; */
    /* padding: 2rem; */
    border: 2px solid black;
    text-align: center;
    background-color: rgb(212, 173, 173);
    /* height: 80px; */
    /* display: flex; */
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
button{
    border: none;
    background-color: chocolate;
    color: white;
    margin: 10px;
}
li{
    list-style: none;
    margin: 10px;
}
button:hover{
    background-color: brown;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}