/* Background */
.pay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #1b002e, #0a0013);
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* Main payment box */
.pay-box {
  background: linear-gradient(135deg, #2b004f, #400080);
  padding: 40px 60px;
  border-radius: 18px;
  text-align: center;
  /* animation: fadeIn 0.4s ease-in-out; */
}

/* Title */
.pay-title {
  margin-bottom: 20px;
  color: #e6e0ff;
}

/* Options */
.pay-options {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.pay-options label {
  font-size: 16px;
  cursor: pointer;
  color: #d1bfff;
}

/* Selected method */
.pay-selected {
  color: #b9b7bd;
  margin-bottom: 10px;
}

/* Pay button */
.pay-btn {
  background-color: #a32eff;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.pay-btn:hover {
  background-color: #7b22c9;
}
.pop-h3{
  color: white;
}

/* Popup */
.popup {
  text-align: center;
  background: #1e002f;
  color: #fff;
  padding: 50px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: fadeIn 0.5s ease-in-out; */
  width: 320px;
}


/* OK Button */
.ok-btn {
  background-color: #22bb33;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  transition: 0.3s;
}

.ok-btn:hover {
  background-color: #1a992b;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
/* Loader spinner */
.loader {
  border: 4px solid #3a0066;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

/* Rotating animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Loading text animation */
.loading-text {
  font-size: 16px;
  color: #cec7d6;
  margin-top: 10px;
  letter-spacing: 1px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
